.fotoHistoria {
  height: auto;
  width: 100%;
}

#lugarParaPonerHistorias {
  height: 100%;
  width: 100%;
}
.oculto {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
.lugarParaMostrarHistorias {
  height: 500px;
  background-color: black;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cerrar {
  color: wheat;
}
