@font-face{
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css?family=Roboto');
}
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Roboto';
}

.navigatebar {
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
  	display: flex;
 	align-items: center;
}

.child {
	height: 100%;
	scroll-snap-align: start;
	padding-left: 10px;
	padding-top: 10px;
    display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Roboto';
}
.textito{
	margin-block-start: 0.3em;
	margin-block-end: 0.5em;
	font-size: 12px;
	font-weight: 400;
	color: #262626;
}

.border{
	border-radius: 50%;
	background: linear-gradient(207deg, rgba(131,58,180,1) 0%, rgba(160,51,144,1) 27%, rgba(212,59,42,1) 65%, rgba(252,176,69,1) 100%);float: left;
	width: 63px;
	height: 63px;	
	display: flex;
	justify-content: center;
	align-items: center;

}

.historia{
    width: 59px;
    height: 59px;
    border-radius:50%;
	border:2px solid transparent;
	box-sizing: border-box;
	background: white;

}
.linea{
	background-color: #cbcbcb;
	width: 100%;
	height: 1px;
}